<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Form Tambah Konser</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Idol')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Idol</h2>
                <br>
                <form th:action="@{/idol/tambah}" th:object="${idol}" method="POST">

                    Nama Idol : <br>
                    <input required class="form-control" type="text" th:field="*{namaIdol}" />
                    <br><br>

                    Asal Negara : <br>
                    <input class="form-control" type="text" th:field="*{asalNegara}" />
                    <br><br>

                    Jumlah Anggota : <br>
                    <input class="form-control" type="number" th:field="*{jumlahAnggota}" />
                    <br><br>

                    Tanggal Debut : <br>
                    <input class="form-control" type="datetime-local" th:field="*{tanggalDebut}" />
                    <br><br>

                    <button class="btn btn-primary" type="submit">Simpan</button>
                    <a class="btn btn-secondary" th:href="@{/idol}">Batal</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>