<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Singidol</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Tiket')"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2 th:text="'Detail Tiket ' + ${tiket.nomorTiket}"></h2>
        <br>
        <p th:text="'Nama Konser: ' + ${tiket.konser.getNamaKonser()}"></p>
        <p th:text="'Waktu: ' + ${tiket.konser.getWaktu()}"></p>
        <p th:text="'Tempat: ' + ${tiket.konser.getTempat()}"></p>
        <p th:text="'Atas Nama: ' + ${tiket.namaLengkap}"></p>
        <p th:text="'Email: ' + ${tiket.email}"></p>
        <p th:text="'Tanggal Pembelian: ' + ${tiket.tanggalPembelian}"></p>
        <p th:text="'Tipe Tiket: ' + ${tiket.tipe.getNama()}"></p>
        <hr>
        <br>
        <a class="btn btn-primary" href="/idol">Kembali</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>